<div class="products-list">
  <div class="products-display">
    <div class="products-display-inner">
      <div class="products-image-roll">
        <div class="products-image-roll-arrow left hiding hidden"></div>
        <div class="products-image-roll-arrow right hiding hidden"></div>
        <div class="products-image-roll-inner">
          <!-- Comments
          {{#products}}
            {{> image-roll}}
          {{/products}}
            -->
        </div>
      </div>
    </div>
  </div>
  {{#products}}
    {{> product-pages}}
  {{/products}}
</div>
