{{#beer-products}}
  <div class="products-pages product-{{beer-name}}">
    <div class="products-pages-inner-roll-arrow left"></div>
    <div class="products-pages-inner-roll-arrow right"></div>
    <div class="products-pages-inner">
      <div class="product-info">
        <div class="product-header">
          <button class="back-to-product"></button>
          <h2 class="product-title">{{product-title}}</h2>
        </div>
        <div class="info-field">
          <div class="poetic-text">
            {{{poetic-text}}}
          </div>
          <table class="info-list">
            <tr class="info-entry">
              <th class="entry-type">Alkoholprosent</th>
              <td class="entry-value">{{alcohol-percentage}} %</td>
            </tr>
            <tr class="info-entry">
              <th class="entry-type">Type</th>
              <td class="entry-value">{{type}}</td>
            </tr>
            <tr class="info-entry">
              <th class="entry-type">IBU / OG</th>
              <td class="entry-value">{{IBU}} / {{OG}}°P</td>
            </tr>
            <tr class="info-entry">
              <th class="entry-type">Serveringstemperatur</th>
              <td class="entry-value">{{serving-temperature}}°C</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="product-images">
        <img src="images/etiketter/cropped/Graff_{{file-name}}.png">
      </div>
      <div class="lightbox-button">
        <img class="lightbox-button-image" src="images/etiketter/button/Graff_{{file-name}}-button.png" data-image-opened="images/etiketter/cropped/Graff_{{file-name}}.png">
      </div>
    </div>
  </div>
{{/beer-products}}
