.img-backgrounds {
  position: absolute;
  width: 100%;
  height: auto;
}

.img-backgrounds.vertical-fit {
  height: 100%;
  width: auto;
}

.img-home {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-contact {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
