.header-logo-container {
  height: 30vh;
  margin: 0;
  position: relative;
}

.header-logo {
  display: block;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-home-container {
  height: calc(100% - 30vh);
  margin: 0;
  overflow: hidden;
}

