.main-page {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.products {
  background: #FAF6E2;
}

.portrait .img-contact {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.graff-background {
  background: #FAF6E2;
}
