@font-face {
  font-family: Jaapokki;
  src: url('../fonts/Jaapokki/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Jaapokki/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Jaapokki/jaapokki-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Jaapokki/jaapokki-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Jaapokki, sans-serif;
  color: #000;
  margin: 0;
}

.wrapper {
  background: #FAF6E2;
  height: calc(100vh - 64px);
}
