.products-display .mix {
  display: none;
  position: relative;
  width: 300px;
}

.products-display img {
  position: relative;
  width: 95%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.products-display .overlay {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FAF6E2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.products-list .controls-filter {
  position: relative;
  text-align: right;
}

.products-list .products-display {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  top: calc(50% - 0.75em);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.products-display.full-height {
  top: 50%;
}

.products-list .products-display-inner {
  position: relative;
  padding: 1em 3em;
  border-top: 0.25em solid black;
  border-bottom: 0.25em solid black;
}

.products-list .products-image-roll {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.products-list .products-image-roll-inner {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.products-display.disable-transitions .products-image-roll-inner {
  -webkit-transition: none;
  transition: none;
}

.controls-filter .filter-series {
  font-family: Jaapokki, sans-serif;
  display: inline-block;
}

/* Amount of images to display */
.products-display.two-images .mix {
  width: 49.9%;
}

.products-display.three-images .mix {
  width: 32.9%;
}

.products-display.four-images .mix {
  width: 24.5%;
}

.products-display.five-images .mix {
  width: 19.7%;
}
