.filter-menu {
  padding-right: 2em;
}

.controls-filter button.filter {
  position: relative;
  display: inline-block;
  font-family: Jaapokki, sans-serif;
  font-size: 0.9em;
  padding: 0 1em;

  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;

  text-shadow: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}

.controls-filter button.filter:before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.controls-filter button.filter::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.controls-filter button.filter::before,
.controls-filter button.filter::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.controls-filter button.filter:not(.no-hover):hover::before,
.controls-filter button.filter:not(.no-hover):hover::after,
.controls-filter button.filter:not(.no-hover).active::before,
.controls-filter button.filter:not(.no-hover).active::after,
.controls-filter li:hover button.filter:not(.no-hover)::before,
.controls-filter li:hover button.filter:not(.no-hover)::after,
.controls-filter li.active button.filter:not(.no-hover)::before,
.controls-filter li.active button.filter:not(.no-hover)::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
