.products-image-roll-arrow {
  font-size: 3em;
  position: absolute;
  font-family: FontAwesome;
  left: 0;
  width: 1em;
  height: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;
  cursor: pointer;
  color: white;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.products-image-roll-arrow.right {
  right: 0;
  left: auto;
}

.products-image-roll-arrow:before {
  position: absolute;
  content: '\f104';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.products-image-roll-arrow:before {
  -webkit-animation-name: move-left;
  -moz-animation-name: move-left;
  -o-animation-name: move-left;
  animation-name: move-left;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  line-height: 1em;
}

.products-image-roll-arrow.right:before {
  content: '\f105';
}

.products-image-roll-arrow.right:before {
  -webkit-animation-name: move-right;
  -moz-animation-name: move-right;
  -o-animation-name: move-right;
  animation-name: move-right;
}

.products-image-roll-arrow.hiding {
  opacity: 0;
}

.products-image-roll-arrow.hidden {
  display: none;
}

@keyframes move-right {
  10% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  20% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  30% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes move-left {
  10% {
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }
  20% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
