@media (max-width: 839px) {
  .img-home-container {
    height: 100%;
  }

  .wrapper {
    height: calc(100vh - 56px);
  }

  .product-title {
    font-size: 2.5em;
    line-height: 1;
  }

  .products-pages-inner {
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  .info-list {
    table-layout: auto;
  }

  .entry-type {
    word-break: break-all;
  }

  .products-pages-inner {
    font-size: 0.8em;
  }

  .product-images {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1em 0;
  }
}

@media (max-width: 839px)
  and (max-height: 839px) {

  .product-images {
    display: none;
  }

  .lightbox-button {
    display: block;
  }
}

@media (max-height: 400px) {
  body {
    font-size: 0.55em;
  }

  .products-pages-inner {
    height: 100%;
    font-size: 1em;
  }

  .contact {
    font-size: 1.5em;
  }
}
